* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: select;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(250, 250, 250, 0);
}

canvas {
  border: 2px solid #4d4d4d;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding-top: 1rem;
  color: #888787;
  letter-spacing: 1px;
}

.footer span a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
